{% extends "core/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                {% for question in questions %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ question.id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ question.id }}" aria-expanded="false" aria-controls="collapse{{ question.id }}">
                                    {{ question.question }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ question.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ question.id }}">
                            <div class="panel-body">
                                {{ question.answer|safe|linebreaks }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock content %}
